.container {
    width: 100%;
    height: 150px;
    background: #fefdfe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  
    p {
      font-weight: 700;
      font-size: 25px;
      color: rgb(0, 0, 0);
      background: rgb(255, 255, 255);
      padding: 10px;
      text-align: center;
    }
  }