/* * {
  border: #6c54e0 solid 1px;
} */

.container {
  width: 100%;
  height: 80px;
  display: flex;
  // flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fcd3d9;
  background-image: url('./navbarIM.jpg');
  background-size: cover;
  background-repeat: no-repeat;


  .logo {
    margin-left: 10px;
  }

  .logoLink {
    text-decoration: none;
    color: black;
    text-shadow: 2px 2px white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
  }

  .languageContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  
  }

  .languageSelector{
    position: relative;
    background-color: darkblue;
    padding: 2px; /* Add some padding */
    cursor: pointer; /* Show pointer on hover */
    transition: background-color 0.3s, stroke 0.3s; /* Smooth transition */
    display: flex;
    justify-content: center;
    align-items: center;

    //border-radius: 5px; //I don't know if I want it?
  }

  .languageSelector:hover {
    background-color: #6c54e0; /* Darker shade on hover */
  }


  .languageIcon {
    font-size: 16px;
  }

  .languageIcon path {
    stroke-width: 2px;
    stroke: darkblue; /* Change to any color you want */
    fill: white;
    transition: stroke 0.3s;
    
  }

  .languageSelector:hover .languageIcon path {
    stroke: #6c54e0;
  }

  .languageLinks {
    position: absolute; /* Absolute position to float over the content */
    top: 110%; /* Aligns dropdown just below the icon */
    left: 5; ; /* Aligns dropdown to the left */
    background-color: white; /* Background for the dropdown */
    border: 1px solid #ccc; /* Light border for visibility */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    z-index: 10; /* Ensures it sits above other content */
    font-size: 14px;
  }
  
  
  .languageLinks ul {
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
  }
  
  .languageLinks li {
    list-style-type: none;
    padding: 0px 2px; /* Padding for each list item */
    cursor: pointer; /* Change cursor to indicate clickable */
    transition: background-color 0.3s; /* Smooth background transition */
    min-width: 75px;

    
  }
  
  .languageLinks li:hover {
    background-color: #8e7ce6; /* Change background on hover */
    color: white;
    font-weight: bold;
  }
  
  .languageLinks li:active {
  background-color: #e0e0e0;
  }

/* New styles for highlighting the active language */
  .active {
    background-color: #7860ff; /* Highlight color */
    color: white; /* Text color for active item */
    font-weight: bold;
  }

  .languageIndicator {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    padding: 2px; /* Add padding for better spacing */
    border-radius: 5px; /* Optional: Rounded corners */
    color: black;
    font-weight: 700;
    font-size: 16px;
    margin-right: 10px;
  }

  .menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 12px;
  }

  .navLinks {
    display: flex;
    justify-content: space-around;
    width: 80%;
    font-weight: 700;
    font-size: 20px;
    color: black;
    padding: 10px;
    text-decoration: none;
    &:hover {
      color: #7860ff;
    }
  }



  .burger{
    display: none;
  }

  @media screen and (max-width: 550px) {
    .menu{
      display: none;
    }

    .burger{
      display: flex;
      align-items: center;
      //background-color: #fcd3d9;
      border: none;
    }

    .burger button{
      border: none;
      background-color: transparent;
      padding: 10px;
      cursor: pointer;
      
    }
    
    .dropDown {
      position: absolute; /* Position the dropdown absolutely */
      top: 75px; // or 8% /* Align it right below the navbar */
      right: 0px; /* Align to the left */
      background-color: white; /* Background color for dropdown */
      border: 1px solid #ccc; /* Light border for visibility */
      border-radius: 5px; /* Rounded corners */
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Shadow for depth */
      z-index: 10; /* Ensure it sits above other content */
    }

    .dropDown ul {
      padding: 0;
      margin: 0;
    }

    .dropDown li {
      list-style-type: none;
    }

    .dropLink {
      text-decoration: none;
      padding: 10px 20px;
      display: block;
      color: black;
      transition: background-color 0.3s;
    }

    .dropLink:hover {
      background-color: #8e7ce6; /* Change background on hover */
      color: white; /* Text color on hover */
      font-weight: bold; /* Font weight on hover */

    }

    .active {
      background-color: #7860ff; /* Highlight color */
      color: white; /* Text color for active item */
      font-weight: bold; /* Make the active item bold */
    } 
  }
}