.container{
    background-color: rgb(239, 228, 228);
    padding-top: 1px;
    text-align: center;

    .paddings{
        padding: 10px 100px 20px;
      }
  
      .gradientBorder {
        border: 10px solid;
        border-image: conic-gradient(from 0, #c88f62, #d4a071, #fee3b8, #eec293, #bc7f51, #cd9466, #c48b5d, #ba794c, #ffeabf, #c18457, #c88f60, #c88f62) 1;
        padding: 1px 10px 30px;
        border-radius: 10px;
        background-color: rgb(238, 238, 238);
        margin-bottom: 30px;
      }

      h2 {
        font-size: 30px;
        padding-bottom: 10px;
      }

      p {
        font-size: 18px;
      }

      a{
        font-size: 18px;
      }

    .imageFiles {
        width: 800px; /* Set your desired width */
        height: auto; /* Maintains aspect ratio */
    }

    h3 {
      font-size: 18px;
      margin-bottom: 0;
    }

    .listItems {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      align-items: center;
      justify-content: center;
      
      
    }

    .listItems p {
      margin-right: 0px;
      //border: #000 1px solid;
      padding: 5px;
      background-color: pink;
      border-radius: 5px;
      box-shadow: 5px 5px 5px 2px; //colour i can add here
    }

    button {
      margin: 20px;
      background-color: lightpink;
      border: lightpink;
      border-radius: 10px;
      padding: 5px;
      box-shadow: 2px 5px 5px 2px /*var (--cvButton_shadow)*/;
      cursor: pointer;
      color: black/*var(--cvButton_color)*/;
    }

    a {
      text-decoration: none;
      color: #000;
      font-family: 'Times New Roman';
    }

    @media (max-width: 360px) {

        .imageFiles {
            width: 280px; /* Set your desired width */
            height: auto; /* Maintains aspect ratio */
        }

        .paddings{
            padding: 20px;
          }
        
    }


    @media (min-width: 361px) and (max-width: 477px) {

        .imageFiles {
            width: 300px; /* Set your desired width */
            height: auto; /* Maintains aspect ratio */
        }

        .paddings{
            padding: 20px;
          }
        
    }


    @media (min-width: 478px) and (max-width: 551px) {

        .imageFiles {
            width: 400px; /* Set your desired width */
            height: auto; /* Maintains aspect ratio */
        }

        .paddings{
            padding: 20px;
          }
        
    }
    

    @media (min-width: 551px) and (max-width: 1040px) {

        .imageFiles {
            width: 500px; /* Set your desired width */
            height: auto; /* Maintains aspect ratio */
        }

        .paddings{
            padding: 20px;
          }

        
    }







}