//all of the info regarding light and dark mode

/*:root {
    --body_background: white;
    --body_color: black;
}

[dataTheme= 'dark'] {
    --body_background: black;
    --body_color: white;
}*/

/*:root {

    --cvC_background: rgb(239, 228, 228);
    --cvC_color: black;
    --cvGradient_background: rgb(238, 238, 238);
    --cvButton_shadow: black;
    --cvButton_color: black



}

[dataTheme= 'dark'] {
    --cvC_background: rgb(0, 0, 0);
    --cvC_color: white;
    --cvGradient_background: black;
    --cvButton_shadow: white;
    --cvButton_color: white;


}*/


body {
margin: 0;
}